* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000000;
}
.section {
  margin: 0 auto;
  width: 80%;
}
.header__sale {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  width: 100%;
  color: #ffffff;
  position: relative;
}
.header__sale-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__sale-title-link {
  color: #ffffff;
  margin-left: 8px;
  text-decoration: underline;
}
.header__sale-language {
  display: flex;
  align-items: center;
  justify-content: right;
  position: absolute;
  right: 150px;
}
.header__sale-title-img {
  height: 6px;
  width: 8px;
  margin-left: 11px;
}

.header__nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-top: 40px;
}
.header__nav-link {
  display: flex;
  gap: 48px;
}
.header__nav-link-hover {
  border-bottom: 1px solid black;
}
.nav__search-img {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 16px;
}
.nav__search {
  border: none;
  width: 243px;
  height: 38px;
  margin-right: 8px;
  padding-left: 20px;
  background-color: #eff0f6;
}
.search__img {
  position: absolute;
  right: 112px;
}

.header__main {
  display: flex;
  justify-content: space-between;
  /* max-height: 344px; */
}
.header__main-nav {
  width: 271px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-right: 1px solid #d9d9d9;
  padding-top: 40px;
  padding-right: 16px;
}

.header__main-sale {
  display: flex;
  width: 892px;
  background-color: #000000;
  justify-content: center;
  align-items: center;
  gap: 38px;
  margin-top: 40px;
}
.header__main-sale-title {
  margin-left: 64px;
}
.header__main-sale-logo {
  display: flex;
  align-items: center;
  gap: 24px;
}
.sale__title {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.sale__text {
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 4%;
}
.link__drop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.line-horizontal {
  height: 1px;
  background-color: #d9d9d9;
  margin-top: 16px;
}

.main__title {
  max-height: 40px;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 71px;
  margin-bottom: 20px;
  color: #db4444;
}
.main__title-title {
  margin-bottom: 60px;
}
.main__title-text {
  margin-bottom: 40px;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.card {
  max-width: 270px;
  max-height: 350px;
}
.card:hover .card__main-btn {
  display: block;
}
.card__main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 270px;
  height: 250px;
  background-color: #f5f5f5;
  position: relative;
}
.card__main-title-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #db4444;
  color: #ffffff;
  max-width: 55px;
  max-height: 26px;
  padding: 4px 12px;
  border-radius: 4px;
  position: absolute;
  top: 12px;
  left: 12px;
}
.card__main-logo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 12px;
  right: 12px;
}
.card__main-img {
  max-width: 172px;
  align-self: center;
}
.card__main-btn {
  display: none;
  background-color: #000000;
  border: none;
  color: #ffffff;
  width: 100%;
  padding: 9px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.card__title-title {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #000;
  margin-top: 16px;
  margin-bottom: 8px;
}
.card__title-price {
  display: flex;
  align-items: center;
  gap: 12px;
}
.card__title-price-one {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #db4444;
  margin: 0;
}
.card__title-price-two {
  text-decoration: line-through;
  opacity: 50%;
  margin: 0;
}
.card__title-reting {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}
.card__title-reting-img {
  max-height: 20px;
}
.card__title-reting-text {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #000;
  opacity: 50%;
  margin: 0;
}

.btn__view-all {
  display: block;
  background-color: #db4444;
  border: none;
  border-radius: 4px;
  color: #fafafa;
  padding: 16px 48px;
  margin: 0px auto;
  margin-bottom: 60px;
}
.btn__view-all:hover {
  background-color: #e07575;
}

.categories__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 4%;
  margin-bottom: 60px;
}
.main__title-text {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 4%;
}
.categories__title-nav {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.cards__category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  margin-top: 60px;
}
.card__category {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid 1px #0000004d;
  border-radius: 4px;
  width: 170px;
  max-height: 145px;
  padding: 25px 0;
}
.card__category:hover {
  background-color: #db4444;
  color: #ffffff;
}
.card__category-img {
  max-width: 56px;
}
.card__category-text {
  margin: 0;
  margin-top: 16px;
}

.best-products__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  margin-bottom: 60px;
}
.viewall__btn {
  background-color: #db4444;
  color: #fafafa;
  border: none;
  border-radius: 4px;
  padding: 16px 48px;
}
.viewall__btn:hover {
  background-color: #e07575;
}

.sale-music__container {
  background-color: black;
  height: 500px;
  position: relative;
  margin-top: 140px;
}
.sale-music__main {
  padding: 69px 56px;
}
.sale-music__main-categor {
  color: #00ff66;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 32px;
}
.sale-music__main-title {
  color: #fafafa;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  max-width: 443px;
  margin-bottom: 32px;
}
.sale-music__main-timer {
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
}
.timer {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sale-music__main-btn {
  background-color: #00ff66;
  color: #fafafa;
  padding: 16px 48px;
  border: none;
  border-radius: 4px;
}
.sale-music__main-btn:hover {
  background-color: #e07575;
}
.sale-music__img {
  position: absolute;
  top: 40px;
  right: 40px;
}
.our-products {
  display: flex;
  flex-direction: column;
}
.our-products__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.newarrival__cards {
  display: flex;
  gap: 30px;
}
.newarrival__ps {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 570px;
  height: 600px;
  background-color: #000;
  color: #fafafa;
  position: relative;
}
.newarrival__ps-main {
  position: absolute;
  bottom: 32px;
  left: 32px;
}
.newarrival__title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 3%;
  margin-bottom: 16px;
}
.newarrival__text {
  width: 242px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 16px;
}
.newarrival__link {
  color: #fafafa;
  border-bottom: 1px solid #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.newarrival__ps-img {
  width: 511px;
}
.newarrival__other {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.newarrival__womens {
  width: 570px;
  height: 284px;
  display: flex;
  justify-content: end;
  background-color: #000;
  color: #fafafa;
  position: relative;
}
.newarrival__womens-main {
  position: absolute;
  bottom: 20px;
  left: 30px;
}
.newarrival__other-mini {
  display: flex;
  gap: 30px;
}
.newarrival__other-mini-card {
  width: 270px;
  height: 284px;
  background: #000000;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.newarrival__other-mini-card-main {
  position: absolute;
  bottom: 24px;
  left: 24px;
}
.newarrival__img {
  width: 200px;
  height: 222px;
}

.service {
  display: flex;
  justify-content: center;
  gap: 88px;
  margin: 140px 0;
}
.service__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service__card-img {
  width: 80px;
}
.service__card-title {
  margin-top: 24px;
  margin-bottom: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.service__card-text {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.footer {
  background: #000000;
  color: #fafafa;
}
.footer__cards {
  display: flex;
  gap: 87px;
  padding-top: 80px;
  padding-bottom: 60px;
}
.footer__card-title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 3%;
  margin-bottom: 24px;
}
.footer__card-subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 24px;
}
.footer__card-text {
  max-width: 175px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

.footer__card-form {
  position: relative;
}
.footer__card-input {
  width: 217px;
  height: 48px;
  padding: 12px 0px 12px 16px;
  border-radius: 4px;
  border: 1px solid #fafafa;
  background-color: #000000;
  color: #fafafa;
}
.footer__card-input-img {
  position: absolute;
  top: 12px;
  right: 20px;
}

.download {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 24px;
}
.download__store {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer__social {
  display: flex;
  gap: 24px;
}
